*{
	margin: 0;
}
/* Global css */

body{
	font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

.container-fluid{
	width: 100%;
	height: 60px;
	background-color:  #994747;;
}
.top-menu{
	padding-top: 16px;
}

.header-section{
	width: 100%;
	margin: 0 auto;
	background-color:  #994747;;
	height: 60px;
	position: fixed;
	top: 0;
}

.logo{
	position: relative;
	float: left;
	padding-left: 20px;
	color: skyblue;
	font-size: 10px;
	letter-spacing: 5px;
	margin-left: 20px;

}

.nevigation-menu{
	float: right;
}
.nevigation-menu a{
	text-decoration: none;
}
.nevigation-menu ul li{
	list-style: none;
	display: inline;
	padding-right: 30px;
	color: skyblue;
	text-decoration: none;
	background-color: black;
	padding-left: 30px;
	border-radius: 4px;
	margin-right: 20px;
}

.nevigation-menu ul li:hover{
	color: white;
}

/* banner-section */

.banner-section{
	background: url(../images/bg.jpg);
	width: 100%;
	height: 350px;
}

.banner-heading{
	width: 60%;
	margin: 0 auto;
	padding-top:150px;
	text-align: center;
}

/* paragaph section */

.paraghap-section{
	width: 1170px;
	margin: 0 auto;
}

.About-us{
	padding: 10px;

}

.About-us h2{
	padding: 20px 0px;
	color:skyblue;
}
.About-us p{
	line-height: 20px;
	text-align: justify;
}
.footer{
	padding-top: 16px;
}
.footer p{
	text-align: center;
	color: skyblue;
}